<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-pulse"
>
</ngx-spinner>

<!--
  [type]: Choose any animation spinner from Load Awesome. To set type of spinner, default ball-scale-multiple https://github.danielcardoso.net/load-awesome/animations.html
-->

<div class="row">
    <div Class="col-12 col-md-12">

        <div class="col-md-12" *ngIf="allSheetValidationList" style="padding-top: 5px; padding-bottom: 5px">
            <div class="card-body" *ngFor="let item of allSheetValidationList" style="padding-top: 2px; padding-bottom:2px">
                <div class="alert alert-warning alert-dismissible fade show" style="margin-bottom : 0.2rem; font-size: 12px; padding: 3px 15px 3px 15px">
                    <b> Warning : {{ item.sheetName }} - Row Number - {{ item.id }} </b>
                    <div *ngFor="let item of item.details">
                        <ul>
                            <li>
                                {{ item.errorMessage }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div Class="col-12 col-md-12">
            <div class="row">
                <div Class="col-12 col-md-6 padding-reset" style="padding-top: 3px; padding-bottom: 3px">
                    <div class="example-button-row">
                        <mat-spinner-button [options]="validationButtonOptions" (btnClick)="validationButtonClick()" style="font-weight: 600; font-size: 0.8571em; border-radius: 30px;">
                        </mat-spinner-button>
                    </div>
                </div>

                <div Class="col-12 col-md-6 padding-reset" style="padding-top: 3px; padding-bottom: 3px">
                    <div class="example-button-row f-right-sm">
                        <div>
                            <div>
                                <mat-spinner-button [options]="allSheetImportButtonOptions" (btnClick)="allSheetImportButtonClick()" style="font-weight: 600; font-size: 0.8571em; border-radius: 30px;">
                                </mat-spinner-button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-md-12" *ngIf="dataSafeIndication" style="padding-top: 15px;">

            <div class="card-body" style="padding-top: 2px; padding-bottom:2px">
                <div class="alert alert-success alert-dismissible fade show" style="margin-bottom : 0.2rem; font-size: 12px; padding: 15px 15px 15px 15px">

                    <div>
                        <ul>
                            <li>
                                {{ dataSafeIndication.message }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
