
/** result secition **/

.transaction-result {
    margin-top: 30px;
}
.result-list {
    margin-top: 30px;
}

.padding-reset {
    padding: 10px;
}
.f-right-xs {
    float: right !important
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .f-right-sm {
        float: right !important;
        padding-left: 20px;
    }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .f-right-md {
        float: right !important
    }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .f-right-lg {
        float: right !important
    }
}

/* remove bullet */

li {
    /*list-style-type: none;*/
}

/* ul styling */

ul {
    margin-bottom: 0;
    padding-inline-start: 16px;
}

/* mat-button edit */

.example-button-row button, .example-button-row a {
    margin-right: 0
}
.small-padding {
    padding: .25rem .95rem;
}

/* mat spinner in modal */
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #ffffff;
}

/* make table ligheter */

.tabulator .tabulator-header {
    background-color: #fff;
}

.tabulator .tabulator-header .tabulator-col {
   background-color: #fff;
   color: black;
}

.tabulator .tabulator-footer {
  background-color: #26838a;
}

.tabulator {
   border-bottom: 0px solid #222;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {
  cursor: pointer;
  background-color: #fff;
}


/* change color of mat button - primary */


.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #246988;
}


/** modal style darker **/


.modal-content {
    background-color: #000;
    color: #fff;
}
