<ngx-spinner></ngx-spinner>

<div class="row">
    <div Class="col-12 col-md-12">

        <div class="table-section">
            <div id="my-tabular-table"></div>
        </div>

        <div class="col-md-12" *ngIf="validationList" style="padding-top: 15px;">

            <div class="card-body" *ngFor="let item of validationList" style="padding-top: 2px; padding-bottom:2px">
                <div class="alert alert-danger alert-dismissible fade show" style="margin-bottom : 0.2rem; font-size: 12px; padding: 3px 15px 3px 15px">
                    <b> Warning : {{ item.sheetName }} - Row Number - {{ item.id }} </b>
                    <div *ngFor="let item of item.details">
                        <ul>
                            <li>
                                {{ item.errorMessage }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div Class="col-12 col-md-12">
            <div class="row">
                <!-- <div Class="col-12 col-md-6 border padding-reset">
                    <div class="example-button-row">
                        <mat-spinner-button [options]="allImportSpinnerButtonOptions" (btnClick)="importBtnClick()" style="font-weight: 600; font-size: 0.8571em; border-radius: 30px;">
                        </mat-spinner-button>
                    </div>
                </div> -->

                <div Class="col-12 col-md-12 padding-reset" style="padding-top: 3px; padding-bottom: 3px">
                    <div class="example-button-row f-right-sm">
                        <mat-spinner-button [options]="singleImportSpinnerButtonOptions" (btnClick)="singleImportBtnClick()" style="font-weight: 600; font-size: 0.8571em; border-radius: 30px;">
                        </mat-spinner-button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
