.table-section {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
}

/* Tabulator v4.2.6 (c) Oliver Folkerd */

.tabulator {
    position: relative;
    border-bottom: 5px solid #222;
    background-color: #fff;
    font-size: 14px;
    text-align: left;
    overflow: hidden;
    -ms-transform: translatez(0);
    transform: translatez(0);
}
.tabulator[tabulator-layout="fitDataFill"] .tabulator-tableHolder .tabulator-table {
    min-width: 100%;
}
.tabulator[tabulator-layout="fitColumns"] .tabulator-row .tabulator-cell:last-of-type {
    border-right: none;
}
.tabulator.tabulator-block-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tabulator .tabulator-header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 3px solid #3FB449;
    background-color: #222;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.tabulator .tabulator-header .tabulator-col {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border-right: 1px solid #aaa;
    background-color: #222;
    text-align: left;
    vertical-align: bottom;
    overflow: hidden;
}
.tabulator .tabulator-header .tabulator-col.tabulator-moving {
    position: absolute;
    border: 1px solid #3FB449;
    background: #090909;
    pointer-events: none;
}
.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
    box-sizing: border-box;
    position: relative;
    padding: 8px;
}
.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}
.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title .tabulator-title-editor {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #999;
    padding: 1px;
    background: #fff;
}
.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-arrow {
    display: inline-block;
    position: absolute;
    top: 14px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #bbb;
}
.tabulator .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #aaa;
    overflow: hidden;
}
.tabulator .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols .tabulator-col:last-child {
    margin-right: -1px;
}
.tabulator .tabulator-header .tabulator-col:first-child .tabulator-col-resize-handle.prev {
    display: none;
}
.tabulator .tabulator-header .tabulator-col.ui-sortable-helper {
    position: absolute;
    background-color: #222 !important;
    border: 1px solid #aaa;
}
.tabulator .tabulator-header .tabulator-col .tabulator-header-filter {
    position: relative;
    box-sizing: border-box;
    margin-top: 2px;
    width: 100%;
    text-align: center;
}
.tabulator .tabulator-header .tabulator-col .tabulator-header-filter textarea {
    height: auto !important;
}
.tabulator .tabulator-header .tabulator-col .tabulator-header-filter svg {
    margin-top: 3px;
}
.tabulator .tabulator-header .tabulator-col .tabulator-header-filter input::-ms-clear {
    width: 0;
    height: 0;
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {
    padding-right: 25px;
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {
    cursor: pointer;
    background-color: #090909;
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="none"] .tabulator-col-content .tabulator-arrow {
    border-top: none;
    border-bottom: 6px solid #bbb;
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="asc"] .tabulator-col-content .tabulator-arrow {
    border-top: none;
    border-bottom: 6px solid #3FB449;
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="desc"] .tabulator-col-content .tabulator-arrow {
    border-top: 6px solid #3FB449;
    border-bottom: none;
}
.tabulator .tabulator-header .tabulator-col.tabulator-col-vertical .tabulator-col-content .tabulator-col-title {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.tabulator .tabulator-header .tabulator-col.tabulator-col-vertical.tabulator-col-vertical-flip .tabulator-col-title {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.tabulator .tabulator-header .tabulator-col.tabulator-col-vertical.tabulator-sortable .tabulator-col-title {
    padding-right: 0;
    padding-top: 20px;
}
.tabulator .tabulator-header .tabulator-col.tabulator-col-vertical.tabulator-sortable.tabulator-col-vertical-flip .tabulator-col-title {
    padding-right: 0;
    padding-bottom: 20px;
}
.tabulator .tabulator-header .tabulator-col.tabulator-col-vertical.tabulator-sortable .tabulator-arrow {
    right: calc(50% - 6px);
}
.tabulator .tabulator-header .tabulator-frozen {
    display: inline-block;
    position: absolute;
    z-index: 10;
}
.tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-left {
    border-right: 2px solid #aaa;
}
.tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-right {
    border-left: 2px solid #aaa;
}
.tabulator .tabulator-header .tabulator-calcs-holder {
    box-sizing: border-box;
    min-width: 400%;
    background: #3c3c3c !important;
    border-top: 1px solid #aaa;
    overflow: hidden;
}
.tabulator .tabulator-header .tabulator-calcs-holder .tabulator-row {
    background: #3c3c3c !important;
}
.tabulator .tabulator-header .tabulator-calcs-holder .tabulator-row .tabulator-col-resize-handle {
    display: none;
}
.tabulator .tabulator-header .tabulator-frozen-rows-holder {
    min-width: 400%;
}
.tabulator .tabulator-header .tabulator-frozen-rows-holder:empty {
    display: none;
}
.tabulator .tabulator-tableHolder {
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.tabulator .tabulator-tableHolder:focus {
    outline: none;
}
.tabulator .tabulator-tableHolder .tabulator-placeholder {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
.tabulator .tabulator-tableHolder .tabulator-placeholder[tabulator-render-mode="virtual"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.tabulator .tabulator-tableHolder .tabulator-placeholder span {
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    color: #3FB449;
    font-weight: bold;
    font-size: 20px;
}
.tabulator .tabulator-tableHolder .tabulator-table {
    position: relative;
    display: inline-block;
    background-color: #fff;
    white-space: nowrap;
    overflow: visible;
    color: #333;
}
.tabulator .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-calcs {
    font-weight: bold;
    background: #484848 !important;
    color: #fff;
}
.tabulator .tabulator-footer {
    padding: 5px 10px;
    padding-top: 8px;
    padding-bottom: 6px;
    border-top: 3px solid #3FB449;
    background-color: #222;
    text-align: right;
    color: #222;
    font-weight: bold;
    white-space: nowrap;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.tabulator .tabulator-footer .tabulator-calcs-holder {
    box-sizing: border-box;
    width: calc(100% + 20px);
    margin: -8px -10px 8px -10px;
    text-align: left;
    background: #3c3c3c !important;
    border-bottom: 1px solid #aaa;
    overflow: hidden;
}
.tabulator .tabulator-footer .tabulator-calcs-holder .tabulator-row {
    background: #3c3c3c !important;
    color: #fff !important;
}
.tabulator .tabulator-footer .tabulator-calcs-holder .tabulator-row .tabulator-col-resize-handle {
    display: none;
}
.tabulator .tabulator-footer .tabulator-calcs-holder:only-child {
    margin-bottom: -5px;
    border-bottom: none;
}
.tabulator .tabulator-footer .tabulator-paginator label {
    color: #fff;
}
.tabulator .tabulator-footer .tabulator-page-size {
    display: inline-block;
    margin: 0 5px;
    padding: 2px 5px;
    border: 1px solid #aaa;
    border-radius: 3px;
}
.tabulator .tabulator-footer .tabulator-pages {
    margin: 0 7px;
}
.tabulator .tabulator-footer .tabulator-page {
    display: inline-block;
    margin: 0 2px;
    padding: 2px 5px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background: #fff;
    color: #222;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}
.tabulator .tabulator-footer .tabulator-page.active {
    color: #3FB449;
}
.tabulator .tabulator-footer .tabulator-page:disabled {
    opacity: .5;
}
.tabulator .tabulator-footer .tabulator-page:not(.disabled):hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}
.tabulator .tabulator-col-resize-handle {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5px;
}
.tabulator .tabulator-col-resize-handle.prev {
    left: 0;
    right: auto;
}
.tabulator .tabulator-col-resize-handle:hover {
    cursor: ew-resize;
}
.tabulator .tabulator-loader {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}
.tabulator .tabulator-loader .tabulator-loader-msg {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    font-weight: bold;
    font-size: 16px;
}
.tabulator .tabulator-loader .tabulator-loader-msg.tabulator-loading {
    border: 4px solid #333;
    color: #000;
}
.tabulator .tabulator-loader .tabulator-loader-msg.tabulator-error {
    border: 4px solid #D00;
    color: #590000;
}
.tabulator-row {
    position: relative;
    box-sizing: border-box;
    min-height: 22px;
    background-color: #fff;
}
.tabulator-row.tabulator-row-even {
    background-color: #EFEFEF;
}
.tabulator-row.tabulator-selectable:hover {
    background-color: #bbb;
    cursor: pointer;
}
.tabulator-row.tabulator-selected {
    background-color: #9ABCEA;
}
.tabulator-row.tabulator-selected:hover {
    background-color: #769BCC;
    cursor: pointer;
}
.tabulator-row.tabulator-row-moving {
    border: 1px solid #000;
    background: #fff;
}
.tabulator-row.tabulator-moving {
    position: absolute;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    pointer-events: none !important;
    z-index: 15;
}
.tabulator-row .tabulator-row-resize-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 5px;
}
.tabulator-row .tabulator-row-resize-handle.prev {
    top: 0;
    bottom: auto;
}
.tabulator-row .tabulator-row-resize-handle:hover {
    cursor: ns-resize;
}
.tabulator-row .tabulator-frozen {
    display: inline-block;
    position: absolute;
    background-color: inherit;
    z-index: 10;
}
.tabulator-row .tabulator-frozen.tabulator-frozen-left {
    border-right: 2px solid #aaa;
}
.tabulator-row .tabulator-frozen.tabulator-frozen-right {
    border-left: 2px solid #aaa;
}
.tabulator-row .tabulator-responsive-collapse {
    box-sizing: border-box;
    padding: 5px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.tabulator-row .tabulator-responsive-collapse:empty {
    display: none;
}
.tabulator-row .tabulator-responsive-collapse table {
    font-size: 14px;
}
.tabulator-row .tabulator-responsive-collapse table tr td {
    position: relative;
}
.tabulator-row .tabulator-responsive-collapse table tr td:first-of-type {
    padding-right: 10px;
}
.tabulator-row .tabulator-cell {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 6px;
    border-right: 1px solid #aaa;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tabulator-row .tabulator-cell.tabulator-editing {
    border: 1px solid #1D68CD;
    padding: 0;
}
.tabulator-row .tabulator-cell.tabulator-editing input, .tabulator-row .tabulator-cell.tabulator-editing select {
    border: 1px;
    background: transparent;
}
.tabulator-row .tabulator-cell.tabulator-validation-fail {
    border: 1px solid #dd0000;
}
.tabulator-row .tabulator-cell.tabulator-validation-fail input, .tabulator-row .tabulator-cell.tabulator-validation-fail select {
    border: 1px;
    background: transparent;
    color: #dd0000;
}
.tabulator-row .tabulator-cell:first-child .tabulator-col-resize-handle.prev {
    display: none;
}
.tabulator-row .tabulator-cell.tabulator-row-handle {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.tabulator-row .tabulator-cell.tabulator-row-handle .tabulator-row-handle-box {
    width: 80%;
}
.tabulator-row .tabulator-cell.tabulator-row-handle .tabulator-row-handle-box .tabulator-row-handle-bar {
    width: 100%;
    height: 3px;
    margin-top: 2px;
    background: #3FB449;
}
.tabulator-row .tabulator-cell .tabulator-data-tree-branch {
    display: inline-block;
    vertical-align: middle;
    height: 9px;
    width: 7px;
    margin-top: -9px;
    margin-right: 5px;
    border-bottom-left-radius: 1px;
    border-left: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
}
.tabulator-row .tabulator-cell .tabulator-data-tree-control {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    height: 11px;
    width: 11px;
    margin-right: 5px;
    border: 1px solid #333;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.tabulator-row .tabulator-cell .tabulator-data-tree-control:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
}
.tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-collapse {
    display: inline-block;
    position: relative;
    height: 7px;
    width: 1px;
    background: transparent;
}
.tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-collapse:after {
    position: absolute;
    content: "";
    left: -3px;
    top: 3px;
    height: 1px;
    width: 7px;
    background: #333;
}
.tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-expand {
    display: inline-block;
    position: relative;
    height: 7px;
    width: 1px;
    background: #333;
}
.tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-expand:after {
    position: absolute;
    content: "";
    left: -3px;
    top: 3px;
    height: 1px;
    width: 7px;
    background: #333;
}
.tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: #666;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
}
.tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle:hover {
    opacity: .7;
}
.tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle.open .tabulator-responsive-collapse-toggle-close {
    display: initial;
}
.tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle.open .tabulator-responsive-collapse-toggle-open {
    display: none;
}
.tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle .tabulator-responsive-collapse-toggle-close {
    display: none;
}
.tabulator-row .tabulator-cell .tabulator-traffic-light {
    display: inline-block;
    height: 14px;
    width: 14px;
    border-radius: 14px;
}
.tabulator-row.tabulator-group {
    box-sizing: border-box;
    border-right: 1px solid #aaa;
    border-top: 1px solid #000;
    border-bottom: 2px solid #3FB449;
    padding: 5px;
    padding-left: 10px;
    background: #222;
    color: #fff;
    font-weight: bold;
    min-width: 100%;
}
.tabulator-row.tabulator-group:hover {
    cursor: pointer;
    background-color: #090909;
}
.tabulator-row.tabulator-group.tabulator-group-visible .tabulator-arrow {
    margin-right: 10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #3FB449;
    border-bottom: 0;
}
.tabulator-row.tabulator-group.tabulator-group-level-1 {
    padding-left: 30px;
}
.tabulator-row.tabulator-group.tabulator-group-level-2 {
    padding-left: 50px;
}
.tabulator-row.tabulator-group.tabulator-group-level-3 {
    padding-left: 70px;
}
.tabulator-row.tabulator-group.tabulator-group-level-4 {
    padding-left: 90px;
}
.tabulator-row.tabulator-group.tabulator-group-level-5 {
    padding-left: 110px;
}
.tabulator-row.tabulator-group .tabulator-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 16px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 0;
    border-left: 6px solid #3FB449;
    vertical-align: middle;
}
.tabulator-row.tabulator-group span {
    margin-left: 10px;
    color: #3FB449;
}
.tabulator-edit-select-list {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    max-height: 200px;
    background: #fff;
    border: 1px solid #aaa;
    font-size: 14px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 10000;
}
.tabulator-edit-select-list .tabulator-edit-select-list-item {
    padding: 4px;
    color: #333;
}
.tabulator-edit-select-list .tabulator-edit-select-list-item.active {
    color: #fff;
    background: #1D68CD;
}
.tabulator-edit-select-list .tabulator-edit-select-list-item:hover {
    cursor: pointer;
    color: #fff;
    background: #1D68CD;
}
.tabulator-edit-select-list .tabulator-edit-select-list-group {
    border-bottom: 1px solid #aaa;
    padding: 4px;
    padding-top: 6px;
    color: #333;
    font-weight: bold;
}

/** angular material **/

.example-button-row button, .example-button-row a {
    margin-right: 0px;
}

/** Table Heading Capitalise **/

.tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {
    padding-right: 25px;
    text-transform: capitalize;
}

/** Edit 08/07/2019 **/

.tabulator {
    border-radius: 4px;
}
.tabulator .tabulator-footer .tabulator-page {
    display: inline-block;
    margin: 2px 2px;
    padding: 0px 5px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background: #fff;
    color: #222;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}
.tabulator-row .tabulator-cell {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 6px;
    /* border-right: 1px solid #aaa; */
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0px;
}
.tabulator .tabulator-header .tabulator-col {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    /* border-right: 1px solid #aaa; */
    background-color: #222;
    text-align: left;
    vertical-align: bottom;
    overflow: hidden;
    border: 0px;
}
.tabulator-row.tabulator-group {
    box-sizing: border-box;
    /* border-right: 1px solid #aaa; */
    border-top: 1px solid #000;
    border-bottom: 2px solid #3FB449;
    padding: 5px;
    padding-left: 10px;
    background: #222;
    color: #fff;
    font-weight: bold;
    min-width: 100%;
}

/* make header bigger */

.tabulator .tabulator-sortable {
    height: 44px;
    /* user defined */
}
.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
    box-sizing: border-box;
    position: relative;
    padding: 12px 12px 12px 6px;
    /* user defined */
}

/* arrow locate modify */

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-arrow {
    display: inline-block;
    position: absolute;
    top: 18px;
    /* user defined */
    right: 14px;
    /* user defined */
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #bbb;
}
.tabulator .tabulator-header {
    /* margin-left: 0px !important; user defined */
}

/* make row bigger */

.tabulator-row {
    position: relative;
    box-sizing: border-box;
    min-height: 22px;
    background-color: #fff;
    padding: 3px 0 3px 0;
    /* user defined */
}

/** result secition **/

.transaction-result {
    margin-top: 30px;
}
.result-list {
    margin-top: 30px;
}

.padding-reset {
    padding: 10px;
}
.f-right-xs {
    float: right !important
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .f-right-sm {
        float: right !important
    }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .f-right-md {
        float: right !important
    }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .f-right-lg {
        float: right !important
    }
}

/* remove bullet */

li {
    /*list-style-type: none;*/
}

/* ul styling */

ul {
    margin-bottom: 0;
    padding-inline-start: 16px;
}

/* mat-button edit */

.example-button-row button, .example-button-row a {
    margin-right: 0
}
.small-padding {
    padding: .25rem .95rem;
}

/* mat spinner in modal */
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #ffffff;
}

/* make table ligheter */

.tabulator .tabulator-header {
    background-color: #fff;
}

.tabulator .tabulator-header .tabulator-col {
   background-color: #fff;
   color: black;
}

.tabulator .tabulator-footer {
  background-color: #26838a;
}

.tabulator {
   border-bottom: 0px solid #222;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {
  cursor: pointer;
  background-color: #fff;
}


/* change color of mat button - primary */


.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #246988;
}


/** modal style darker **/


.modal-content {
    background-color: #000;
    color: #fff;
}
