<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="logo-image-small-icon">
                    <!-- <img src="assets/img/cloud.png"> -->
                    <mat-icon svgIcon="cloud-svg"></mat-icon>
                </div>
                <h5 class="card-title">Google Sheet Import Service</h5>
            </div>
            <div class="card-body" style="padding-bottom: 0;">
                <div class="" *ngIf="sheetFileName" style="padding-bottom: 30px">
                    <div class="row" style="padding: 10px;">
                        <div Class="col-12 col-md-3" style="padding-bottom: 10px;">
                            <!-- <label></label> -->
                            <ng-select [items]="sheets" bindLabel="name" placeholder="Select sheet" [(ngModel)]="selectedSheet" (ngModelChange)="onChange($event)" [searchable]="false">
                            </ng-select>
                        </div>

                        <div Class="col-12 col-md-6" style="margin-top: 0em; padding-right: 10%;">
                            <div class="v-align-middle margin-10px">
                                <h5>{{sheetFileName}}</h5>
                            </div>
                        </div>

                        <div Class="col-12 col-md-3 padding-reset" style="margin-top: 0em;padding-top: 0px;">
                          <div class="example-button-row f-right-sm" style="padding-left:5px; padding-right:5px;">
                              <div>
                                  <div>
                                      <mat-spinner-button [options]="sheetOpenButtonOptions" (btnClick)=onNavigate() style="font-weight: 600; font-size: 0.8571em; border-radius: 30px;">
                                      </mat-spinner-button>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="combinedDataForTable">
                    <app-table [combinedDataInput]="combinedDataForTable"></app-table>
                </div>
            </div>

            <div class="card-footer" style="padding-left:0; padding-right:0; padding-top: 0;">

                <div *ngIf="sheetFileName">
                    <div>
                        <div class="col-12">
                            <app-buttonsandwarnings></app-buttonsandwarnings>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="!sheetFileName">
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="alert alert-warning alert-dismissible fade show">
                                <span>
                                            <b> Info - </b> Google Sheet Data has not been configured yet.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
