
.padding-reset {
  padding: 10px;
}
.f-right-xs {
  float: right !important
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .f-right-sm {
      float: right !important;
      padding-left: 20px;
  }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .f-right-md {
      float: right !important
  }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .f-right-lg {
      float: right !important
  }
}
