//Components
@import "mixins/buttons";
@import "mixins/vendor-prefixes";
@import "mixins/inputs";
@import "mixins/page-header";
@import "mixins/dropdown";
@import "mixins/cards";
@import "mixins/transparency";

@import url('https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap');

@import "~@ng-select/ng-select/themes/default.theme.css";

.ng-select.ng-select-opened.ng-select-bottom > .ng-select-container {
    box-shadow: rgba(3, 174, 171, 0.26) 0px 0px 0px 0.25rem;
}

.ng-select.ng-select-single .ng-select-container {
    box-shadow: rgba(3, 174, 171, 0.26) 0px 0px 0px 0.25rem;
}

.ng-select .ng-select-container {
    border: 0px solid #ccc;
}

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
    box-shadow: rgba(3, 174, 171, 0.26) 0px 0px 0px 0.25rem;
    border-color: rgba(3, 174, 171, 0.26);
}


@import '~@angular/material/theming';

$custom-typography: mat-typography-config( $font-family: 'Montserrat, Quicksand, sans-serif, monospace', $headline: mat-typography-level(32px, 48px, 700), $body-1: mat-typography-level(16px, 24px, 500) );
@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

$mat-red: ( 50: #ffebee, 100: #ffcdd2, 200: #ef9a9a, 300: #e57373, 400: #ef5350, 500: #f44336, 600: #e53935, 700: #d32f2f, 800: #c62828, 900: #b71c1c, A100: #ff8a80, A200: #ff5252, A400: #ff1744, A700: #d50000, contrast: ( 50: $black-87-opacity, 100: $black-87-opacity, 200: $black-87-opacity, 300: $black-87-opacity, 400: $black-87-opacity, 500: white, 600: white, 700: white, 800: $white-87-opacity, 900: $white-87-opacity, A100: $black-87-opacity, A200: white, A400: white, A700: white, ));
$custom-theme-primary: mat-palette($mat-light-blue);
$custom-theme-accent: mat-palette($mat-orange, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);

/** override angilar material css !impotant **/ 

.mat-raised-button {
    font-weight: 600;
    font-size: 0.95em;
    border-radius: 30px !important;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #246988;
    width: 200px;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    background-color: #41c1c6;
    color: #fff;
    width: 200px;
}

.mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
    background-color: #2f9f00;
    width: 200px;
}

/** sidebar indicator color **/

.sidebar .sidebar-wrapper li.active>a:not([data-toggle="collapse"])::after, .sidebar .sidebar-wrapper li.active>[data-toggle="collapse"]+div .nav li::after {
    border-right: 17px solid #275882  !important;
}


/** adding icon to all pages **/

.logo-image-small-icon {
    width: 40px !important;
    height: 40px !important;
    display: inline !important;
    float: left !important;
    margin-right: 10px !important;
}

.svg-icon-css {
    width: 40px !important;
    height: 40px !important;
}

/** modal backgournd color **/


.modal-content {
    background-color: #000;
    color: #fff;
}


