<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header ">
                <div class="logo-image-small-icon">
                    <!-- <img src="assets/img/file.png"> -->
                    <mat-icon svgIcon="file-svg"></mat-icon>
                </div>
                <h5 class="card-title">Transaction Result</h5>
            </div>

            <div class="card-body" style="padding-top: 0">
                <div class="col-12 col-md-12" *ngIf="transactionResult" >
                    <div style="padding-top: 10px">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <mat-card class="example-card">
                                    <mat-card-header>
                                        <div mat-card-avatar>
                                            <div class="icon-big text-center icon-warning">
                                                <i class="nc-icon nc-globe text-warning text-40px"></i>
                                            </div>
                                        </div>
                                        <mat-card-title>ADD - {{transactionResult?.numOfAdded}}</mat-card-title>
                                        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                                    </mat-card-header>
                                    <mat-card-content>
                                        <div class="margin-top">
                                            <h6> {{transactionResult?.numOfAdded}} data has been added into the Database.</h6>
                                        </div>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-button (click)="addFilterClick($event)">FILTER DATA</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>


                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <mat-card class="example-card">
                                    <mat-card-header>
                                        <div mat-card-avatar>
                                            <div class="icon-big text-center icon-warning">
                                                <i class="nc-icon nc-money-coins text-success text-40px"></i>
                                            </div>
                                        </div>
                                        <mat-card-title>UPDATE - {{transactionResult?.numOfUpdated}}</mat-card-title>
                                        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                                    </mat-card-header>
                                    <mat-card-content>
                                        <div class="margin-top">
                                            <h6> {{transactionResult?.numOfUpdated}} data has been updated in the Database.</h6>
                                        </div>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-button (click)="updateFilterClick($event)">FILTER DATA</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <mat-card class="example-card">
                                    <mat-card-header>
                                        <div mat-card-avatar>
                                            <div class="icon-big text-center icon-warning">
                                                <i class="nc-icon nc-vector text-danger text-40px"></i>
                                            </div>
                                        </div>
                                        <mat-card-title>ERROR - {{transactionResult?.numOfError}}</mat-card-title>
                                        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                                    </mat-card-header>
                                    <mat-card-content>
                                        <div class="margin-top">
                                            <h6> {{transactionResult?.numOfError}} errors has occurred</h6>
                                        </div>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-button (click)="errorFilterClick($event)">FILTER DATA</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <mat-card class="example-card">
                                    <mat-card-header>
                                        <div mat-card-avatar>
                                            <div class="icon-big text-center icon-warning">
                                                <i class="nc-icon nc-bulb-63 text-primary text-40px"></i>
                                            </div>
                                        </div>
                                        <mat-card-title>WARNING - {{transactionResult?.numOfWarning}}</mat-card-title>
                                        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                                    </mat-card-header>
                                    <mat-card-content>
                                        <div class="margin-top">
                                            <h6> {{transactionResult?.numOfWarning}} data has been processed with a warning.</h6>
                                        </div>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-button (click)="warningFilterClick($event)">FILTER DATA</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-12" *ngIf="resultList" style="padding-top: 15px; padding-bottom: 15px;">

                    <div class="result-list">

                        <div class="row" *ngIf="resultList?.length == 0">
                            <div class="card-body" style="padding-top: 2px; padding-bottom: 2px; margin-left: 10px; margin-right: 10px">
                                <div class="alert alert-primary alert-dismissible fade show" style="margin-bottom : 0.2rem; font-size: 12px; padding: 12px 15px 12px 15px">
                                    <div Class="col-12 col-md-12" style="color: rgb(255, 255, 255)">
                                        <b> There is no data to show. </b>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngFor="let item of resultList">

                            <div class="card-body" style="padding-top: 2px; padding-bottom: 2px; margin-left: 10px; margin-right: 10px">

                                <div class="alert alert-primary alert-dismissible fade show" style="margin-bottom : 0.2rem; font-size: 12px; padding: 2px 15px 1px 15px">

                                    <div *ngIf="item.status == 4;then errorTemplate else normalTemplate">here is ignored</div>
                                    <ng-template #errorTemplate>
                                        <div Class="col-12 col-md-2" style="color: red">
                                            <b> ERROR </b>
                                        </div>
                                    </ng-template>

                                    <ng-template #normalTemplate>
                                        <div *ngIf="item.status == 3;then warningTemplate else successTemplate">here is ignored</div>
                                        <ng-template #warningTemplate>
                                            <div Class="col-12 col-md-2" style="color: orange">
                                                <b> WARNING </b>
                                            </div>
                                        </ng-template>
                                        <ng-template #successTemplate>
                                            <div *ngIf="item.status == 2;then updatedTemplate else addedTemplate">here is ignored</div>
                                            <ng-template #updatedTemplate>
                                                <div Class="col-12 col-md-2" style="color: rgb(255, 255, 255)">
                                                    <b> UPDATED </b>
                                                </div>
                                            </ng-template>

                                            <ng-template #addedTemplate>
                                                <div Class="col-12 col-md-2" style="color: rgb(255, 255, 255)">
                                                    <b> ADDED </b>
                                                </div>
                                            </ng-template>

                                        </ng-template>
                                    </ng-template>
                                    <div class="row">
                                        <div Class="col-12 col-md-12" *ngIf="!item.errorOrWarningDetails.msg">
                                            {{ item.details.dtoPresentName | dtoPresentnameFilter }} : {{item.details.className | classNameFilter }} Table in Database.
                                        </div>

                                        <div Class="col-12 col-md-12" *ngIf="item.errorOrWarningDetails.msg" style="color: white">
                                            {{ item.details.dtoPresentName | dtoPresentnameFilter }} : {{item.details.className | classNameFilter}} Table in Database. : {{item.errorOrWarningDetails.msg}}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div Class="col-12 col-md-12 f-right-xs text-right">
                                            {{item.time}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                </div>

            </div>


            <div class="card-footer" style="padding-left:0; padding-right:0; padding-top: 0;">
                <div class="transaction-result" *ngIf="!transactionResult">
                    <div class="col-md-12">
                        <div class="card-body" style="padding-left: 0; padding-right: 0">
                            <div class="alert alert-warning alert-dismissible fade show">
                                <span>
                                    <b> Info - </b> Data has not been processed yet.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>

</div>
