.text-40px {
    font-size: 40px;
}
.margin-top {
    margin-top: 20px !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.row mat-card, .row mat-card .mat-card {
    height: 100%;
}
.row mat-card .mat-card {
    display: flex;
    flex-direction: column;
}
.row mat-card .mat-card mat-card-content {
    flex-grow: 1;
}


.mat-card {
    display: flex;
    flex-direction: column;
}
.mat-card-header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}
.mat-card-content {
    flex-grow: 1;
    overflow: auto;
    //outline: 1px solid red; 
}