<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <div class="logo-image-small-icon">
                    <mat-icon svgIcon="database-svg"></mat-icon>
                </div>
                <h5 class="card-title">Database Connections and Google Sheets</h5>
            </div>
            <div class="card-body ">

                <div class="row" style="padding: 10px;">
                    <div class="col-12 col-md-3" style="margin-bottom:15px;">
                        <ng-select [items]="dbs" placeholder="Select DB" [(ngModel)]="selectedDb" (ngModelChange)="onChange($event)" [searchable]="false">
                        </ng-select>
                    </div>

                    <div class="col-12 col-md-9" style="margin-top: 0em;">
                        <mat-form-field class="example-full-width" style="display: inline;">
                            <input matInput placeholder="Google Sheet URL" [formControl]="sheetUrl" (change)="onSheetUrlChange()" placeholder="Please copy sheet URL and paste here">
                        </mat-form-field>
                    </div>
                </div>

            </div>

            <div class="card-footer ">

                <div class="col-12 col-md-4" style="padding-left: 5px">
                    <div>

                        <button type="button" class="btn btn-info btn-round" (click)="handleButtonClick($event)">SELECT DB AND SHEET</button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" *ngIf="errorMsg">
        <div class="card-body">
            <div class="alert alert-warning alert-dismissible fade show">
                <span>
                    <b> Warning - </b> {{errorMsg}}
                </span>
            </div>
        </div>
    </div>
</div>
